h1#qunit-header 
{ 
	padding: 5px; 
	padding-left: 30px; 
	font-size: large; 
	background-color: #0f1924; 
	color: yellow; 
	font-family: 'trebuchet ms', verdana, arial; 
	margin: 0; 
}

h1#qunit-header a 
{ 
	color: white; 
}

h2#qunit-banner 
{ 
	height: 8px; 
	border-bottom: 1px solid white; 
	background-color: #eee; 
	margin: 0; 
	font-family: 'trebuchet ms', verdana, arial; 
}

h2#qunit-banner.pass 
{ 
	background-color: green; 
}

h2#qunit-banner.fail 
{ 
	background-color: red; 
}

h2#qunit-userAgent 
{ 
	padding: 10px; 
	padding-left: 30px; 
	background-color: #eee; 
	color: black; 
	margin: 0; 
	font-size: small; 
	font-weight: normal; 
	font-family: 'trebuchet ms', verdana, arial; 
	font-size: 10pt;
}

div#qunit-testrunner-toolbar 
{ 
	padding-left: 30px; 
	background: #eee; 
	border-top: 1px solid black; 
	padding: 10px; 
	font-family: 'trebuchet ms', verdana, arial; 
	margin: 0; 
	font-size: 10pt; 
}

ol#qunit-tests 
{ 
	margin-left: 30px; 
	font-family: 'trebuchet ms', verdana, arial; 
	font-size: 10pt;
}

ol#qunit-tests li strong 
{ 
	cursor:pointer; 
}

ol#qunit-tests .pass 
{ 
	color: green; 
} 

ol#qunit-tests .fail 
{ 
	color: red; 
} 

p#qunit-testresult 
{ 
	padding-left: 30px; 
	margin-left: 1em; 
	font-size: 10pt; 
	font-family: 'trebuchet ms', verdana, arial; 
}

ul.qunit 
{
	list-style: none;
	height: 34px;
	background: url(/images/bg_secondaryNav_left.gif) no-repeat;
	float: left;
	margin: 0px;
	padding: 0px 0px 0px 3px;
}

ul.qunit li 
{
	float: left;
	height: 18px;
	padding: 8px;
}

ul.qunit li a
{
	position: relative;
	top: 0px;
	color: white;
	text-decoration: none;
}

ul.qunit li.first 
{
	border-right: 1px solid rgb(13, 89, 149);
}

ul.qunit li.last 
{
	margin-top: 6px;
	padding-top: 0px;
	border-left: 1px solid rgb(17, 117, 174);	
}

#qunit-overlay 
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 46px;
	color: white;
	margin: 0px;
	padding: 0px;
	background-color: #0f1924;
	font-family: 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
}

#qunit-test-options
{
	float: left;
	position: relative;
	top: 5px;
	left: 30px;
	height: 34px;
}

#qunit-logo
{
	position: absolute;
	top: 6px;
	right: 5px;
	width: 265px;
	height: 40px;
	font-size: 10px;
	color: #DEDEDE;
	font-style: italic;
}

#qunit-menu
{
	float: left;
	width: 690px;
	height: 30px;
	background: url(/images/bg_diagonalDarkBlue.gif) rgb(51, 51, 51);
	padding: 2px;
	margin-top: 6px;
	margin-left: 40px;
	font-family: 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
	color: yellow;
}

ul.qunit-menu
{
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	font-size: 11px;
	margin-bottom: -22px;
}

ul.qunit-menu li 
{
	vertical-align: baseline;
	padding: 6px;
	float: left;
	font-weight: normal;
}

#qunit-loading
{
	padding-left: 30px;
}

#qunit-results
{
	position: relative;
	top: 30;
	width: 100%;
	height: 200px;
	background-color: #eee;
	color: #000;
	padding: 0px;
	overflow: hidden;
}